<!-- form.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamik Model Tahmin</title>
</head>
<body>
    <h1>Başlık ve Açıklama Girin</h1>
    <form action="/predict" method="post">
        <label for="title">Başlık:</label>
        <input type="text" id="title" name="title" required>
        <br><br>
        <label for="description">Açıklama:</label>
        <textarea id="description" name="description" required></textarea>
        <br><br>
        <input type="submit" value="Tahmin Et">
    </form>

    {% if prediction %}
        <h2>Tahmin Edilen Etiket: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
