<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veri Ekle</title>
</head>
<body>
    <h1>Veri Ekle</h1>
    <form action="{{ url_for('yükle') }}" method="POST">
        <label for="Title">Title:</label><br>
        <input type="text" id="Title" name="Title" required><br>
        
        <label for="Description">Description:</label><br>
        <textarea id="Description" name="Description" required></textarea><br>
        
        <label for="Values">Values (Sayısal Değer):</label><br>
        <input type="number" id="Values" name="Values" required min="0" step="1"><br><br>
        
        <input type="submit" value="Veri Ekle">
    </form>
</body>
</html>
